@using DemoEventi.Application.DTOs
@using DemoEventi.Application.Interfaces
@inject IEventService EventService

<EditForm Model="newEvent" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <InputText @bind-Value="newEvent.Name" placeholder="Nome Evento" />
    <InputText @bind-Value="newEvent.Location" placeholder="Luogo" />
    <InputDate @bind-Value="newEvent.StartDate" />
    <!-- Qui potresti aggiungere un SelectMultiple per i partecipanti -->
    <button type="submit">Crea Evento</button>
</EditForm>

@code {
    private CreateEventDto newEvent = new();

    [Parameter] public EventCallback OnSaved { get; set; }

    private async Task HandleValidSubmit()
    {
        await EventService.CreateAsync(newEvent);
        newEvent = new CreateEventDto();
        await OnSaved.InvokeAsync();
    }
}
