@using DemoEventi.Application.DTOs
@using DemoEventi.Application.Interfaces
@inject IUserService UserService

<EditForm Model="newUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <InputText @bind-Value="newUser.FirstName" placeholder="Nome" />
    <InputText @bind-Value="newUser.LastName" placeholder="Cognome" />
    <!-- Qui potresti aggiungere un Select per interests -->
    <button type="submit">Crea Utente</button>
</EditForm>

@code {
    private CreateUserDto newUser = new();

    [Parameter] public EventCallback OnSaved { get; set; }

    private async Task HandleValidSubmit()
    {
        await UserService.CreateAsync(newUser);
        newUser = new CreateUserDto();
        await OnSaved.InvokeAsync();
    }
}
